@model IEnumerable<WebChat.Models.Room>

@{
    ViewBag.Title = "Salas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Salas</h2>
<p>
    @Html.ActionLink("Nueva Sala", "Create", new { nickname = @ViewBag.nickname, id = @ViewBag.id })
</p>

<input type="hidden" id="nickname" value=@ViewBag.nickname />
<input type="hidden" id="id" value=@ViewBag.id />

<table class="table">
    <tr>
        <th>
            Nombre
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Entrar", "ChatWithRegister", new { nickname = @ViewBag.nickname, idUser = @ViewBag.id, idRoom = item.IdRoom })
            </td>
        </tr>
    }
</table>
